/* стили для кнопки поиска .search-button*/
.search-button {
    background-image: url("https://netology-code.github.io/html/form-elements/img/search.svg");
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center;
}

/* стили для before у .form-filter-label*/
.form-filter-label::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #a2a9b1;
    border-radius: 2px;
    margin-right: 8px;
}

/* стили для галочки */
.form-filter-field:checked + .form-filter-label::before {
    background-image: url("https://netology-code.github.io/html/form-elements/img/checked.svg");
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: center;
}

/* стили для фокуса */
.form-filter-field:focus + .form-filter-label::before {
    outline: 2px solid #30a281;
    outline-offset: 2px;
}

/* стили для visually-hidden */
.visually-hidden {
    position: fixed;
    transform: scale(0);
}

/* стили для кнопки .form-filter-button*/
.form-filter-button {
    /* сброс */
    border: none;
    background: none;
    margin: 0;
    padding: 0;

    /* стили */
    padding: 15px;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    background: #30a281;
    border-radius: 5px;
}